@import url(https://fonts.googleapis.com/css?family=Gilda+Display);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
.display-1 {
  font-family: 'Gilda Display', serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Gilda Display', serif;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #c19b76 !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #709faf !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #709faf !important;
  border-color: #709faf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #906841 !important;
  color: #906841 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #426977 !important;
  color: #426977 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c19b76 !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #709faf !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #906841 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #426977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #709faf;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c19b76;
  border-color: #c19b76;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #c19b76;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e9dbce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c2d6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #c19b76;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #c19b76;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #c19b76;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c19b76;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c19b76;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.mbr-section-title {
  letter-spacing: 1px;
  margin: 0;
}
.mbr-section-subtitle {
  letter-spacing: 2px;
  margin: 0;
}
.mbr-section-btn .btn {
  font-weight: 700;
}
.mbr-section-btn .btn-sm {
  padding: .3rem 1rem !important;
}
.mbr-section-btn .btn-md {
  padding: .5rem 2rem !important;
}
.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 100 !important;
}
body {
  color: #333333;
}
.up-z-index {
  z-index: 1000 !important;
}
.cid-r1wBtA6yM3 .nav-item:focus,
.cid-r1wBtA6yM3 .nav-link:focus {
  outline: none;
}
.cid-r1wBtA6yM3 a.nav-link:focus {
  color: #ffffff !important;
}
.cid-r1wBtA6yM3 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
}
.cid-r1wBtA6yM3 .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-r1wBtA6yM3 .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-r1wBtA6yM3 .navbar .navbar-collapse {
  justify-content: flex-start;
  z-index: 1;
  flex-basis: auto;
  flex-grow: 0;
}
.cid-r1wBtA6yM3 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-r1wBtA6yM3 .navbar.collapsed .navbar-collapse {
  flex-basis: 100%;
}
.cid-r1wBtA6yM3 .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-r1wBtA6yM3 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-r1wBtA6yM3 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-r1wBtA6yM3 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-r1wBtA6yM3 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-r1wBtA6yM3 .navbar .navbar-collapse {
    flex-basis: 100%;
  }
  .cid-r1wBtA6yM3 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-r1wBtA6yM3 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-r1wBtA6yM3 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-r1wBtA6yM3 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-r1wBtA6yM3 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-r1wBtA6yM3 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-r1wBtA6yM3 .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-r1wBtA6yM3 .navbar .navbar-brand {
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-r1wBtA6yM3 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-r1wBtA6yM3 .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-r1wBtA6yM3 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-r1wBtA6yM3 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-r1wBtA6yM3 .navbar-brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-r1wBtA6yM3 .navbar-brand .navbar-caption-wrap {
  display: flex;
}
.cid-r1wBtA6yM3 .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-r1wBtA6yM3 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-r1wBtA6yM3 .dropdown-item.active,
.cid-r1wBtA6yM3 .dropdown-item:active {
  background-color: transparent;
}
.cid-r1wBtA6yM3 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-r1wBtA6yM3 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-r1wBtA6yM3 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-r1wBtA6yM3 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-r1wBtA6yM3 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-r1wBtA6yM3 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r1wBtA6yM3 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-r1wBtA6yM3 .navbar-buttons {
  text-align: center;
}
.cid-r1wBtA6yM3 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-r1wBtA6yM3 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-r1wBtA6yM3 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r1wBtA6yM3 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r1wBtA6yM3 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r1wBtA6yM3 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r1wBtA6yM3 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1wBtA6yM3 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r1wBtA6yM3 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r1wBtA6yM3 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1wBtA6yM3 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-r1wBtA6yM3 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cid-r1wBtA6yM3 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-r1wBtA6yM3 .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-r1wBtA6yM3 .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-r1wBtA6yM3 .nav-link:hover,
.cid-r1wBtA6yM3 .icons-menu .mbr-iconfont:hover {
  color: #ffffff !important;
}
.cid-r1wBtA6yM3 .dropdown-item:hover {
  color: #878787 !important;
}
.cid-r1wBtA6yM3 .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #ffffff;
  transition: width 0.3s ease-in;
}
.cid-r1wBtA6yM3 .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-r1wBtA6yM3 .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-r1wBtA6yM3 .navbar-expand-lg {
    justify-content: space-around;
  }
  .cid-r1wBtA6yM3 .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-r1wBtA6yM3 .dropdown-menu {
    top: 100%;
  }
  .cid-r1wBtA6yM3 .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-r1wBtA6yM3 .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-r1wBtA6yM3 .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-r1wBtA6yM3 .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-r1wBxGp3h2 {
  background-image: url("../../../assets/images/background1.jpg");
  z-index: 1;
}
.cid-r1wBxGp3h2 .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-r1wBxGp3h2 .mbr-arrow i {
  color: #ffffff !important;
}
.cid-r1wBxGp3h2 .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r1wBxGp3h2 .input-wrap {
  background: #ffffff;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  height: 100%;
}
.cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  height: 100%;
  line-height: 18px;
  padding: 2rem;
  margin: 0;
}
.cid-r1wBxGp3h2 .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-r1wBxGp3h2 .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-r1wBxGp3h2 .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (min-width: 768px) {
  .cid-r1wBxGp3h2 .booking-datepicker input:not(.guests-input) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  .cid-r1wBxGp3h2 .booking-datepicker .mbr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cid-r1wBxGp3h2 .booking-datepicker .mbr-form .col-3,
  .cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn {
    max-width: 60% !important;
  }
  .cid-r1wBxGp3h2 .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    margin: 0 !important;
  }
}
.cid-r1wYeqRpSn {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/02.jpg");
}
.cid-r1wYeqRpSn .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r1wYeqRpSn .mbr-iconfont {
  font-size: 80px;
}
.cid-r1wX9AeDIn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-r1wX9AeDIn .card .card-img {
  overflow: hidden;
  border-radius: 0;
}
.cid-r1wX9AeDIn .card .card-img img {
  transition: all .5s;
}
.cid-r1wX9AeDIn .card .card-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-r1wX9AeDIn .media-container-column {
  justify-content: flex-start;
  padding: 0;
}
.cid-r1wX9AeDIn .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r1wX9AeDIn .first-card .card-wrapper {
  height: 100%;
}
.cid-r1wX9AeDIn .first-card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-r1wX9AeDIn .first-card .info-wrapper {
  display: inline-flex;
  align-items: center;
}
.cid-r1wX9AeDIn .first-card .info-wrapper .mbr-iconfont {
  padding-right: .5rem;
  font-size: 20px;
}
.cid-r1wX9AeDIn .first-card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-r1wX9AeDIn .first-card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-r1wX9AeDIn .first-row,
.cid-r1wX9AeDIn .second-row {
  height: 50%;
  margin: 0;
}
.cid-r1wX9AeDIn .first-row .card .card-wrapper,
.cid-r1wX9AeDIn .second-row .card .card-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cid-r1wX9AeDIn .first-row .card .card-wrapper .card-img,
.cid-r1wX9AeDIn .second-row .card .card-wrapper .card-img {
  height: 100%;
}
.cid-r1wX9AeDIn .first-row .card .card-wrapper .card-img img,
.cid-r1wX9AeDIn .second-row .card .card-wrapper .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r1wX9AeDIn .first-row .caption,
.cid-r1wX9AeDIn .second-row .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
}
.cid-r1wX9AeDIn .first-row .caption .price,
.cid-r1wX9AeDIn .second-row .caption .price {
  background: #c19b76;
  padding: 0 .5rem;
}
.cid-r1wX9AeDIn .first-row {
  padding-bottom: 1rem;
}
.cid-r1wX9AeDIn .second-row {
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .cid-r1wX9AeDIn .first-card,
  .cid-r1wX9AeDIn .first-child {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-r1wX9AeDIn .first-card {
    padding-bottom: 2rem;
  }
  .cid-r1wX9AeDIn .only-first-row {
    height: 100%;
  }
}
.cid-r1wXmwlmGk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r1wXmwlmGk .card .card-img {
  overflow: hidden;
}
.cid-r1wXmwlmGk .card .card-img img {
  transition: all .5s;
}
.cid-r1wXmwlmGk .card .card-wrapper:hover .card-img img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-r1wXmwlmGk .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r1wXmwlmGk .card .card-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cid-r1wXmwlmGk .card .card-wrapper .card-link {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 0;
  display: none;
}
.cid-r1wXmwlmGk .card .card-wrapper .card-img {
  height: 100%;
  border-radius: 0;
}
.cid-r1wXmwlmGk .card .card-wrapper .card-img .mbr-overlay {
  background: #000000;
  opacity: 0.3;
  border-top-right-radius: 25%;
}
.cid-r1wXmwlmGk .card .card-wrapper .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r1wXmwlmGk .popup-btn .card-link {
  display: block !important;
}
.cid-r1wXmwlmGk .popup-btn .mbr-overlay {
  border-top-right-radius: 0 !important;
}
.cid-r1wXmwlmGk .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  display: inline-flex;
  align-items: center;
  letter-spacing: 2px;
}
.cid-r1wXmwlmGk .caption .mbr-text {
  margin-bottom: 2rem;
}
.cid-r1wXmwlmGk .caption .card-title {
  padding-right: 2rem;
}
.cid-r1wXmwlmGk .caption .price {
  background: #c19b76;
  padding: 0 .5rem;
}
@media (min-width: 768px) {
  .cid-r1wXmwlmGk .first-row-card {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-r1wXmwlmGk .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.cid-r1wXKB8hOp {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
  z-index: 1;
}
.cid-r1wXKB8hOp .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r1wXKB8hOp .mbr-text {
  margin: 0;
}
.cid-r1wXKB8hOp .first-item,
.cid-r1wXKB8hOp .second-item {
  padding: 1.5rem;
}
.cid-r1wXKB8hOp .first-item {
  background: #c19b76;
}
.cid-r1wXKB8hOp .first-item .item-btn .btn {
  margin-left: 4px !important;
}
.cid-r1wXKB8hOp .second-item {
  background: #333333;
  display: flex;
  flex-direction: column;
}
.cid-r1wXKB8hOp .second-item .check-text {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.cid-r1wXKB8hOp .second-item .check-out {
  border-top: 2px solid #000000;
}
.cid-r1wXKB8hOp .content-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-r1wXKB8hOp .input-wrap {
  background: #ffffff;
}
.cid-r1wXKB8hOp .booking-datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  height: 100%;
}
.cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  margin: 0;
  height: 100%;
  line-height: 18px;
}
@media (max-width: 991px) {
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    padding: 2rem;
  }
}
.cid-r1wXKB8hOp .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-r1wXKB8hOp .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-r1wXKB8hOp .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form .col-3,
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn {
    max-width: 60% !important;
  }
  .cid-r1wXKB8hOp .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    margin: 0 !important;
  }
  .cid-r1wXKB8hOp .item-text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-r1wXKB8hOp .booking-datepicker input:not(.guests-input) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px), (max-width: 991px) {
  .cid-r1wXKB8hOp .booking-datepicker {
    padding: 2rem 0 0 0;
  }
}
.cid-r1wXHaVB0P {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r1wXHaVB0P .card .card-img img {
  transition: all .5s;
}
.cid-r1wXHaVB0P .card .card-wrapper:hover .card-img img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-r1wXHaVB0P .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r1wXHaVB0P .form1 {
  background: #333333;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-r1wXHaVB0P .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-r1wXHaVB0P .form1 .form-control {
  border: none;
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  width: 100%;
}
.cid-r1wXHaVB0P .form1 .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-r1wXHaVB0P .form1 .form-control::-moz-placeholder {
  color: #ffffff;
}
.cid-r1wXHaVB0P .form1 .form-control:-moz-placeholder {
  color: #ffffff;
}
.cid-r1wXHaVB0P .form1 .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.cid-r1wXHaVB0P .form1 .input-group-btn {
  width: 100%;
}
.cid-r1wXHaVB0P .form1 .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}
.cid-r1wXHaVB0P .items-column {
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.cid-r1wXHaVB0P .first-row {
  height: 40%;
}
.cid-r1wXHaVB0P .first-row.only-first-row {
  height: 100%;
}
.cid-r1wXHaVB0P .first-row.two-items {
  height: 50%;
}
.cid-r1wXHaVB0P .second-row {
  height: calc(100% - 40%);
}
.cid-r1wXHaVB0P .second-row.two-items {
  height: 50%;
}
.cid-r1wXHaVB0P .card {
  height: 100%;
}
.cid-r1wXHaVB0P .card .card-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cid-r1wXHaVB0P .card .card-wrapper .card-img {
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}
.cid-r1wXHaVB0P .card .card-wrapper .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r1wXHaVB0P .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  letter-spacing: 2px;
  padding: 1rem 2rem;
}
.cid-r1wXHaVB0P .caption .mbr-text {
  margin: 0;
}
.cid-r1wXHaVB0P .first-card {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-r1wXHaVB0P .form1 {
    padding: 1.5rem;
  }
  .cid-r1wXHaVB0P .second-card {
    padding-bottom: 2rem;
  }
  .cid-r1wXHaVB0P .first-row {
    height: 33%;
  }
  .cid-r1wXHaVB0P .second-row {
    height: 67%;
  }
}
@media (max-width: 767px), (max-width: 991px) {
  .cid-r1wXHaVB0P .items-column {
    padding-top: 2rem;
  }
}
.cid-r1wXtTwCJe {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r1wXtTwCJe .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r1wXtTwCJe .mbr-section-title,
.cid-r1wXtTwCJe .mbr-section-subtitle,
.cid-r1wXtTwCJe .underline {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-r1wXtTwCJe .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-r1wXtTwCJe .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r1wXtTwCJe .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r1wXtTwCJe .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-r1wXtTwCJe .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  background: linear-gradient(180deg, #efefef, #c19b76);
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-r1wXtTwCJe .icon-focus {
  display: none;
}
.cid-r1wXtTwCJe .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: center;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-r1wXtTwCJe ul {
  font-size: 0;
}
.cid-r1wXtTwCJe .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #333333 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-r1wXtTwCJe .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-r1wXtTwCJe .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c19b76;
}
.cid-r1wXtTwCJe .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-r1wXtTwCJe .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-r1wXtTwCJe .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-r1wXtTwCJe .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-r1wXtTwCJe .btn:hover {
  background: transparent !important;
}
.cid-r1wXtTwCJe .btn:hover:before {
  background: transparent !important;
}
.cid-r1wXtTwCJe .btn:before {
  background-color: transparent !important;
}
.cid-r1wXtTwCJe .btn:focus {
  box-shadow: none;
  background: transparent !important;
}
.cid-r1wXYCoIDW {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r1wXYCoIDW .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r1wXYCoIDW .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-r1wXYCoIDW .form1 .form-control {
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-r1wXYCoIDW .form1 .input-group-btn {
  width: 100%;
}
.cid-r1wXYCoIDW .form1 .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-r1wXYCoIDW .form1 .form-label-outside {
  color: #333333;
}
.cid-r1wXYCoIDW .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-r1wXYCoIDW .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-r1wXYCoIDW .info-row ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.cid-r1wXYCoIDW .info-row ol li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
  padding: 10px;
}
.cid-r1wXYCoIDW .info-value {
  color: #b7b6b6;
}
@media (max-width: 991px), (max-width: 767px) {
  .cid-r1wXYCoIDW .form-wrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-r1wXYCoIDW .form-subtitle {
    text-align: center;
  }
}
.cid-r1wYaxsqc5 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-r1wYaxsqc5 .mbr-section-subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.cid-r1wYaxsqc5 .first-column .mbr-text {
  margin: 0;
}
.cid-r1wYaxsqc5 .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-r1wYaxsqc5 .icons-wrapper ul li {
  margin-right: 1.25rem;
  display: inline-block;
}
.cid-r1wYaxsqc5 .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-r1wYaxsqc5 .icons-wrapper ul li .mbr-iconfont:hover {
  color: #878787;
}
.cid-r1wYaxsqc5 .form1 .mbr-form {
  display: inline-flex;
  width: 100%;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap {
  width: 55%;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap input {
  font-size: .9rem;
  height: 100%;
  border: none;
  width: 100%;
  padding: .3rem .5rem;
  background: #000000;
  color: #d8d7d7;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: #d8d7d7;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap input::-moz-placeholder {
  color: #d8d7d7;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap input:-moz-placeholder {
  color: #d8d7d7;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-wrap input:-ms-input-placeholder {
  color: #d8d7d7;
}
.cid-r1wYaxsqc5 .form1 .mbr-form .input-group-btn .btn-lg {
  padding: 1rem 2.2rem;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-r1wYaxsqc5 .first-column,
  .cid-r1wYaxsqc5 .second-column {
    padding-bottom: 2rem;
  }
  .cid-r1wYaxsqc5 .form1 .mbr-form {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-r1wYaxsqc5 .first-column,
  .cid-r1wYaxsqc5 .second-column,
  .cid-r1wYaxsqc5 .third-column {
    text-align: center;
  }
  .cid-r1wYaxsqc5 .form1 .mbr-form {
    justify-content: center;
  }
  .cid-r1wYaxsqc5 .form1 .mbr-form .input-group-btn .btn-lg {
    padding: .6rem 1rem !important;
  }
}
